.section--team
  margin-top 96px
  
  +respond-to(1023px)
    margin-top 64px
  
  +respond-to(767px)
    margin-top 48px

.section--services
  margin-top 48px

.section--book
  margin-top 48px
  margin-bottom 96px
  
  +respond-to(1023px)
    margin-top 32px
    margin-botom 64px
  
  +respond-to(767px)
    margin-bottom 48px

.section--contact
  margin 48px 0 96px
  
  +respond-to(1023px)
    margin 88px 0 48px
  
  +respond-to(767px)
    margin-top 32px
